<!DOCTYPE html>
<html lang='en'>


<head>
	<meta charset="UTF-8">
    <title>AL FlyHub</title>
</head>

<body>
	<header>
        <h1>Welcome to AL FlyHub</h1>
    </header>
	<main>
		<!-- Public Flight Search -->
        <section id="flight-search">
            <h2>Search for Flights</h2>
            <form action="/search-flights" method="GET">

				<label for="departure-airport">Departure Airport:</label>
				<input type="text" id="departure-airport" name="departure-airport" required><br> 

				<label for="destination-airport">Destination Airport:</label>
				<input type="text" id="destination-airport" name="destination-airport" required><br> 

				<label for="departure-date">Departure Date:</label>
				<input type="date" id="departure-date" name="departure-date" required><br> 

				<label for="return-date">Return Date (Optional):</label>
				<input type="date" id="return-date" name="return-date"><br> 
                
                <button type="submit">Search</button>
            </form>
        </section>
        
        <!-- Register -->
        <section id="register">
            <h2>Register</h2>
            <p>
                <a href="customer_register">Register as Customer</a> |
                <a href="staff_register">Register as Airline Staff</a>
            </p>
        </section>
        
        <!-- Login -->
		<section id="login">
			<!-- Customer Login -->
			<h2>Login as Customer</h2>
			<form action="/loginAuth" method="POST">
				<label for="customer_email">Email:</label>
				<input type="email" id="customer_email" name="email" required>
		
				<label for="customer_password">Password:</label>
				<input type="password" id="customer_password" name="password" required>
		
				<!-- Hidden field to indicate customer login -->
				<input type="hidden" name="login_type" value="customer">
		
				<button type="submit">Login</button>
			</form>
			<h2> i am aiden </h2>
			<!-- Airline Staff Login -->
			<h2>Login as Airline Staff</h2>
			<form action="/loginAuth" method="POST">
				<label for="staff_username">Username:</label>
				<input type="text" id="staff_username" name="username" required>
		
				<label for="staff_password">Password:</label>
				<input type="password" id="staff_password" name="password" required>
		
				<!-- Hidden field to indicate staff login -->
				<input type="hidden" name="login_type" value="staff">
		
				<button type="submit">Login</button>
			</form>
		</section>
    </main>

</body>

</html>
