<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Home</title>

</head>
<body>
    <header>
        <h1>Welcome, Airline Staff</h1>
    </header>
    <main>
        <div class="button-container">
            <button onclick="location.href='/viewFlights'">View Flights</button>
            <button onclick="location.href='/createFlight'">Create New Flight</button>
            <button onclick="location.href='/changeFlightStatus'">Change Flight Status</button>
            <button onclick="location.href='/addAirplane'">Add Airplane</button>
            <button onclick="location.href='/addAirport'">Add Airport</button>
            <button onclick="location.href='/viewFlightRatings'">View Flight Ratings</button>
            <button onclick="location.href='/scheduleMaintenance'">Schedule Maintenance</button>
            <button onclick="location.href='/viewFrequentCustomers'">View Frequent Customers</button>
            <button onclick="location.href='/viewRevenue'">View Earned Revenue</button>
            <button onclick="location.href='/logout'">Logout</button>
        </div>
    </main>
    <footer>
        <p>aiden lee and allen lu</p>
    </footer>
</body>
</html>